-- 1. 创建表
--------------------------------------------------------------------------------

CREATE TABLE IF NOT EXISTS ani_info
(
    id           BIGSERIAL PRIMARY KEY,
    title        TEXT        NOT NULL,
    update_count TEXT,
    update_info  TEXT,
    image_url    TEXT        NOT NULL,
    detail_url   TEXT        NOT NULL,
    update_time  TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP, -- 仅插入时写入
    platform     TEXT        NOT NULL,
    CONSTRAINT uniq_ani_info UNIQUE (title, platform, update_count)
);

CREATE TABLE IF NOT EXISTS ani_collect
(
    id           BIGSERIAL PRIMARY KEY,
    user_id      TEXT                 DEFAULT '',
    ani_item_id  BIGINT      NOT NULL,
    ani_title    TEXT        NOT NULL,
    collect_time TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP, -- 收藏时的时间
    is_watched   BOOLEAN     NOT NULL DEFAULT FALSE,             -- 是否已观看
    CONSTRAINT uniq_ani_collect UNIQUE (user_id, ani_item_id),
    CONSTRAINT fk_ani_item FOREIGN KEY (ani_item_id)
        REFERENCES ani_info (id)
        ON DELETE CASCADE
);

CREATE TABLE IF NOT EXISTS ani_watch_history
(
    id           BIGSERIAL PRIMARY KEY,
    user_id      TEXT                 DEFAULT '',
    ani_item_id  BIGINT      NOT NULL,
    watched_time TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP, -- 观看时的时间
    CONSTRAINT uniq_ani_watch UNIQUE (user_id, ani_item_id),
    CONSTRAINT fk_ani_watch FOREIGN KEY (ani_item_id)
        REFERENCES ani_info (id)
        ON DELETE CASCADE
);

--------------------------------------------------------------------------------
-- 1.1 字段备注
--------------------------------------------------------------------------------

-- ani_info 表
COMMENT ON TABLE ani_info IS '番剧信息表';
COMMENT ON COLUMN ani_info.id IS '主键 ID';
COMMENT ON COLUMN ani_info.title IS '番剧标题';
COMMENT ON COLUMN ani_info.update_count IS '更新集数（如 第10集）';
COMMENT ON COLUMN ani_info.update_info IS '更新描述（如 已完结）';
COMMENT ON COLUMN ani_info.image_url IS '封面图片 URL';
COMMENT ON COLUMN ani_info.detail_url IS '详情页 URL';
COMMENT ON COLUMN ani_info.update_time IS '信息更新时间（插入时自动写入）';
COMMENT ON COLUMN ani_info.platform IS '所属平台（如 bilibili、iqiyi 等）';

-- ani_collect 表
COMMENT ON TABLE ani_collect IS '用户收藏表';
COMMENT ON COLUMN ani_collect.id IS '主键 ID';
COMMENT ON COLUMN ani_collect.user_id IS '用户 ID';
COMMENT ON COLUMN ani_collect.ani_item_id IS '关联番剧 ID';
COMMENT ON COLUMN ani_collect.ani_title IS '收藏时的番剧标题';
COMMENT ON COLUMN ani_collect.collect_time IS '收藏时间';
COMMENT ON COLUMN ani_collect.is_watched IS '是否已观看';

-- ani_watch_history 表
COMMENT ON TABLE ani_watch_history IS '观看历史表';
COMMENT ON COLUMN ani_watch_history.id IS '主键 ID';
COMMENT ON COLUMN ani_watch_history.user_id IS '用户 ID';
COMMENT ON COLUMN ani_watch_history.ani_item_id IS '关联番剧 ID';
COMMENT ON COLUMN ani_watch_history.watched_time IS '观看时间';


--------------------------------------------------------------------------------
-- 2. 创建索引
--------------------------------------------------------------------------------

CREATE INDEX IF NOT EXISTS idx_ani_info_update_time
    ON ani_info (update_time);

CREATE INDEX IF NOT EXISTS idx_ani_collect_item_time
    ON ani_collect (ani_item_id, collect_time);

CREATE INDEX IF NOT EXISTS idx_ani_collect_title
    ON ani_collect (ani_title);

CREATE INDEX IF NOT EXISTS idx_ani_watch_history_item_time
    ON ani_watch_history (ani_item_id, watched_time);

CREATE INDEX IF NOT EXISTS idx_ani_watch_history_time
    ON ani_watch_history (watched_time);


--------------------------------------------------------------------------------
-- 3. 创建触发器（更新 is_watched 状态）
--------------------------------------------------------------------------------

-- 先删除旧触发器和函数，避免重复执行报错
DO
$$
    BEGIN
        IF EXISTS (SELECT 1 FROM pg_trigger WHERE tgname = 'trg_after_insert_watch') THEN
            DROP TRIGGER trg_after_insert_watch ON ani_watch_history;
        END IF;

        IF EXISTS (SELECT 1 FROM pg_proc WHERE proname = 'trg_after_insert_watch_func') THEN
            DROP FUNCTION trg_after_insert_watch_func() CASCADE;
        END IF;
    END;
$$;

-- 创建触发器函数
CREATE OR REPLACE FUNCTION trg_after_insert_watch_func()
    RETURNS TRIGGER AS
$$
BEGIN
    UPDATE ani_collect
    SET is_watched = TRUE
    WHERE user_id = NEW.user_id
      AND ani_item_id = NEW.ani_item_id;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- 创建触发器
CREATE TRIGGER trg_after_insert_watch
    AFTER INSERT
    ON ani_watch_history
    FOR EACH ROW
EXECUTE FUNCTION trg_after_insert_watch_func();

-- 用户表：系统内的唯一用户信息
CREATE TABLE IF NOT EXISTS users
(
    id           BIGSERIAL PRIMARY KEY,
    email        VARCHAR(255) UNIQUE,
    username     VARCHAR(100) UNIQUE,
    password     TEXT, -- 本地登录密码哈希（可为空）
    display_name VARCHAR(255),
    avatar_url   TEXT,
    created_at   TIMESTAMPTZ NOT NULL DEFAULT now(),
    updated_at   TIMESTAMPTZ NOT NULL DEFAULT now()
);

COMMENT ON TABLE users IS '系统用户表，存储应用内的用户主体信息';
COMMENT ON COLUMN users.id IS '系统内唯一用户 ID';
COMMENT ON COLUMN users.email IS '邮箱（可选，主要用于邮箱登录或通知）';
COMMENT ON COLUMN users.username IS '用户名（可选，可用于自定义登录名）';
COMMENT ON COLUMN users.password IS '本地登录密码哈希（可为空，如果用户只用第三方登录）';
COMMENT ON COLUMN users.display_name IS '显示名（可以来自第三方平台或用户自定义）';
COMMENT ON COLUMN users.avatar_url IS '头像 URL';
COMMENT ON COLUMN users.created_at IS '用户创建时间';
COMMENT ON COLUMN users.updated_at IS '用户信息最后更新时间';


-- 用户身份表：第三方账号绑定信息
CREATE TABLE IF NOT EXISTS user_identities
(
    id               BIGSERIAL PRIMARY KEY,
    user_id          BIGINT       NOT NULL REFERENCES users (id) ON DELETE CASCADE,
    provider         VARCHAR(50)  NOT NULL,
    provider_user_id VARCHAR(255) NOT NULL,
    access_token     TEXT,
    refresh_token    TEXT,
    expires_at       TIMESTAMPTZ,
    created_at       TIMESTAMPTZ  NOT NULL DEFAULT now(),
    updated_at       TIMESTAMPTZ  NOT NULL DEFAULT now(),
    UNIQUE (provider, provider_user_id)
);

COMMENT ON TABLE user_identities IS '用户身份表，存储第三方登录账号与系统用户的映射关系';
COMMENT ON COLUMN user_identities.id IS '主键 ID';
COMMENT ON COLUMN user_identities.user_id IS '关联的系统用户 ID（外键，指向 users.id）';
COMMENT ON COLUMN user_identities.provider IS '第三方登录提供商，例如 github、google、wechat';
COMMENT ON COLUMN user_identities.provider_user_id IS '第三方平台的用户唯一 ID';
COMMENT ON COLUMN user_identities.access_token IS 'OAuth access token（可选，若需调用第三方 API）';
COMMENT ON COLUMN user_identities.refresh_token IS 'OAuth refresh token（可选，用于刷新 access token）';
COMMENT ON COLUMN user_identities.expires_at IS 'access_token 过期时间（可选）';
COMMENT ON COLUMN user_identities.created_at IS '绑定记录的创建时间';
COMMENT ON COLUMN user_identities.updated_at IS '绑定记录的最后更新时间';

-- Add migration script here
DO
$$
    BEGIN
        IF EXISTS (SELECT 1 FROM pg_tables WHERE schemaname = 'public' AND tablename = 'users') THEN
            EXECUTE 'ALTER TABLE users RENAME TO user_info';
        END IF;
    END
$$;

-- Add migration script here
DROP TABLE IF EXISTS user_info CASCADE;
DROP TABLE IF EXISTS refresh_tokens CASCADE;
DROP TABLE IF EXISTS user_identities CASCADE;

-- Add migration script here
-- 用户表：系统内的唯一用户信息
CREATE TABLE IF NOT EXISTS user_info
(
    id           BIGSERIAL PRIMARY KEY,
    email        VARCHAR(255) UNIQUE,
    username     VARCHAR(100) UNIQUE,
    password     TEXT, -- 本地登录密码哈希（可为空）
    display_name VARCHAR(255),
    avatar_url   TEXT,
    created_at   TIMESTAMPTZ NOT NULL DEFAULT now(),
    updated_at   TIMESTAMPTZ NOT NULL DEFAULT now()
);

COMMENT ON TABLE user_info IS '系统用户表，存储应用内的用户主体信息';
COMMENT ON COLUMN user_info.id IS '系统内唯一用户 ID';
COMMENT ON COLUMN user_info.email IS '邮箱（可选，主要用于邮箱登录或通知）';
COMMENT ON COLUMN user_info.username IS '用户名（可选，可用于自定义登录名）';
COMMENT ON COLUMN user_info.password IS '本地登录密码哈希（可为空，如果用户只用第三方登录）';
COMMENT ON COLUMN user_info.display_name IS '显示名（可以来自第三方平台或用户自定义）';
COMMENT ON COLUMN user_info.avatar_url IS '头像 URL';
COMMENT ON COLUMN user_info.created_at IS '用户创建时间';
COMMENT ON COLUMN user_info.updated_at IS '用户信息最后更新时间';


-- 用户身份表：第三方账号绑定信息
CREATE TABLE IF NOT EXISTS user_identities
(
    id               BIGSERIAL PRIMARY KEY,
    user_id          BIGINT       NOT NULL REFERENCES user_info (id) ON DELETE CASCADE,
    provider         VARCHAR(50)  NOT NULL, -- 第三方提供商，例如 'github'
    provider_uid     VARCHAR(255) NOT NULL, -- 第三方用户唯一标识（如 GitHub id）
    access_token     TEXT,                  -- 第三方 access_token（可选）
    token_expires_at TIMESTAMPTZ,           -- token 过期时间（如果第三方有）
    created_at       TIMESTAMPTZ  NOT NULL DEFAULT now(),
    updated_at       TIMESTAMPTZ  NOT NULL DEFAULT now(),
    UNIQUE (provider, provider_uid)
);

COMMENT ON TABLE user_identities IS '用户身份表，存储第三方登录账号与系统用户的映射关系';
COMMENT ON COLUMN user_identities.id IS '主键 ID';
COMMENT ON COLUMN user_identities.user_id IS '关联的系统用户 ID（外键，指向 user_info.id）';
COMMENT ON COLUMN user_identities.provider IS '第三方登录提供商，例如 github、google、wechat';
COMMENT ON COLUMN user_identities.provider_uid IS '第三方平台的用户唯一 ID';
COMMENT ON COLUMN user_identities.access_token IS '第三方 OAuth access token（可选，用于调用 API）';
COMMENT ON COLUMN user_identities.token_expires_at IS '第三方 access_token 过期时间';
COMMENT ON COLUMN user_identities.created_at IS '绑定记录的创建时间';
COMMENT ON COLUMN user_identities.updated_at IS '绑定记录的最后更新时间';


-- 刷新 Token 表：用于长时间会话管理
CREATE TABLE IF NOT EXISTS refresh_tokens
(
    id         BIGSERIAL PRIMARY KEY,
    user_id    BIGINT      NOT NULL REFERENCES user_info (id) ON DELETE CASCADE,
    token      TEXT        NOT NULL,              -- 存储 refresh_token（建议哈希存储）
    expires_at TIMESTAMPTZ NOT NULL,              -- 过期时间
    created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
    revoked    BOOLEAN     NOT NULL DEFAULT FALSE -- 是否已撤销
);

COMMENT ON TABLE refresh_tokens IS '刷新 Token 表，用于长时间会话管理';
COMMENT ON COLUMN refresh_tokens.id IS '主键 ID';
COMMENT ON COLUMN refresh_tokens.user_id IS '关联的系统用户 ID（外键，指向 user_info.id）';
COMMENT ON COLUMN refresh_tokens.token IS '刷新 Token，建议存储哈希值而不是明文';
COMMENT ON COLUMN refresh_tokens.expires_at IS '刷新 Token 过期时间';
COMMENT ON COLUMN refresh_tokens.created_at IS '刷新 Token 创建时间';
COMMENT ON COLUMN refresh_tokens.revoked IS '刷新 Token 是否已撤销';

